.main {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0%;
    text-align: center;
}

.main h1 {
    font-weight: bold;
}

.main h2 {
    font-style: italic;
}

.main ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    display:inline-block;
    justify-content: center;

}

